<div class="app-container">
    <div class="ui top attached secondary menu">
        <!-- <a class="item" (click)="sidebar.toggle()">
            <i class="sidebar icon"></i>
        </a> -->
        <div class="item">Angular Datatables</div>
    </div>
    <br>
    <router-outlet></router-outlet>
    <!-- <sui-sidebar-container class="ui bottom attached segment">
        <sui-sidebar class="vertical" #sidebar>
            <a class="item">Menu Item 1</a>
            <a class="item">Menu Item 2</a>
        </sui-sidebar>
        <sui-sidebar-sibling [isDimmedWhenVisible]="true">
            <router-outlet></router-outlet>
        </sui-sidebar-sibling>
    </sui-sidebar-container> -->
</div>
